.About {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	&--header {
		z-index: 50;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: #00c2ff;
		font-size: 14vw;
		font-weight: 900;
		line-height: 12vh;
		padding-right: 5rem;
		height: 25%;
		transform: translateY(70rem);
		animation: textUp 1.2s ease-in-out 0.3s forwards;

		@media (max-width: 1199.98px) {
			line-height: 16vh;
			padding-right: 1rem;
		}

		@media (max-width: 991.98px) {
			line-height: 16vh;
			font-size: 15vh;
			padding-right: 0rem;
			padding-left: 3rem;
		}

		@media (max-width: 767.98px) {
			font-size: 23vw;
			line-height: 14vw;
			padding: 1rem 0;
			height: 20%;
		}
	}

	&--Content {
		height: 75%;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		margin-left: 10vw;

		@media (max-width: 767.98px) {
			align-items: flex-start;
		}
	}

	&--Left {
		height: 100%;
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		z-index: 999999;
		padding: 1rem;

		@media (max-width: 767.98px) {
			height: 80%;
			padding: 1rem 0;
		}

		&--text {
			width: 100%;
			height: auto;
			font-size: 3.5vh;
			font-weight: 600;
			transform: translateX(-100rem);
			animation: textRight 1s ease-in-out 0.2s forwards;
			margin: 1rem 0;
			// padding: 1rem 2vw;

			&:nth-of-type(3) {
				width: 50%;
			}

			@media (max-width: 1199.98px) {
				font-size: 3vh;
			}

			@media (max-width: 991.98px) {
				font-size: 4vw;
				margin: 0.5rem 0;
			}

			@media (max-width: 767.98px) {
				font-size: 2vh;
				margin: 0.5rem 0;
			}

			&:nth-of-type(2) {
				animation: textRight 1s ease-in-out 0.5s forwards;
			}

			span {
				color: #222;
				animation: spanText 0.5s ease-in-out 1.25s forwards;
			}

			.special {
				background-color: red;
				padding: 0.25rem;
				font-size: 5vh;
				margin: 0 1rem;
				padding-right: 4rem;
				color: #fff;

				i {
					color: #fff;
				}

				@media (max-width: 1199.98px) {
					background-color: red;
					padding: 0.25rem 0;
					font-size: 4vh;
					margin: 0;
					padding-right: 0rem;
					color: #fff;
				}

				@media (max-width: 991.98px) {
					background-color: red;
					padding: 0.25rem 0;
					font-size: 4vh;
					margin: 0;
					color: #fff;
				}

				@media (max-width: 767.98px) {
					background-color: red;
					padding: 0.25rem;
					font-size: 3vh;
					margin: 0 0rem;
					color: #fff;
				}
			}
		}
	}

	&--Right {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;
		height: 100%;
		width: 40%;
		z-index: 999999;
		margin-left: 1rem;

		@media (max-width: 767.98px) {
			height: 100%;
			margin-left: 0rem;
		}

		&--text {
			width: 100%;
			height: 50%;
			font-size: 3.25vw;
			font-weight: 600;
			padding: 3rem;
			transform: translateX(100rem);
			animation: textLeft 1s ease-in-out 0.2s forwards;

			@media (max-width: 1199.98px) {
				font-size: 3vh;
			}

			@media (max-width: 991.98px) {
				font-size: 3rem;
			}

			@media (max-width: 767.98px) {
				font-size: 4vw;
				padding: 8vh 0;
			}

			span {
				color: #222;
				animation: spanText 0.5s ease-in-out 1.35s forwards;
			}
		}
	}

	@keyframes textRight {
		0% {
			transform: translateX(-100rem);
		}
		100% {
			transform: translateX(0);
		}
	}

	@keyframes textLeft {
		0% {
			transform: translateX(100rem);
		}
		100% {
			transform: translateX(0);
		}
	}

	@keyframes textUp {
		0% {
			transform: translateY(70rem);
		}
		100% {
			transform: translateY(0);
		}
	}

	@keyframes spanText {
		0% {
			color: #222;
		}
		100% {
			color: #fff;
		}
	}
}
